[package]
name = "module-evm-utility-macro"
version = "2.8.0"
authors = ["Acala Developers"]
edition = "2021"

[lib]
proc-macro = true

[dependencies]
quote = "1.0.10"
syn = { version = "1.0.80", features = ["full", "fold", "extra-traits", "visit"] }
proc-macro2 = "1.0.30"
module-evm-utility = { path = ".." }
