[package]
name = "module-template"
version = "0.5.1"
authors = ["Acala Developers"]
edition = "2018"

[dependencies]
serde = { version = "1.0.101", optional = true }
codec = { package = "parity-scale-codec", version = "1.3.0", default-features = false }
sp-runtime = { version = "2.0.0-rc4", default-features = false }
support = { package = "frame-support", version = "2.0.0-rc4", default-features = false }
system = { package = "frame-system", version = "2.0.0-rc4", default-features = false }
runtime-io = { package = "sp-io", version = "2.0.0-rc4", default-features = false }
rstd = { package = "sp-std", version = "2.0.0-rc4", default-features = false }

[features]
default = ["std"]
std = [
	"serde",
	"codec/std",
	"sp-runtime/std",
	"support/std",
	"system/std",
	"runtime-io/std",
	"rstd/std",
]
