[package]
name = "module-honzon"
version = "0.2.4"
authors = ["Acala Developers"]
edition = "2018"

[dependencies]

serde = { version = "1.0", optional = true }
codec = { package = "parity-scale-codec", version = "1.0.0", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate.git", default-features = false }
frame-support = { package = "frame-support", git = "https://github.com/paritytech/substrate.git", default-features = false }
frame-system = { package = "frame-system", git = "https://github.com/paritytech/substrate.git", default-features = false }
rstd = { package = "sp-std", git = "https://github.com/paritytech/substrate.git", default-features = false }
orml-traits = { package = "orml-traits", path = "../../orml/traits", default-features = false }
orml-tokens = { package = "orml-tokens", path = "../../orml/tokens", default-features = false }
cdp-engine = { package = "module-cdp-engine", path = "../cdp_engine", default-features = false }
vaults = { package = "module-vaults", path = "../vaults", default-features = false }
support = { package = "module-support", path = "../support", default-features = false }

[dev-dependencies]
runtime-io = { package = "sp-io", git = "https://github.com/paritytech/substrate.git", default-features = false }
primitives = { package = "sp-core",  git = "https://github.com/paritytech/substrate.git", default-features = false }
pallet-balances= { package = "pallet-balances", git = "https://github.com/paritytech/substrate.git", default-features = false }
orml-currencies = { package = "orml-currencies", path = "../../orml/currencies", default-features = false }
cdp-treasury = { package = "module-cdp-treasury", path = "../cdp_treasury", default-features = false }

[features]
default = ["std"]
std = [
	"serde",
	"codec/std",
	"sp-runtime/std",
	"frame-support/std",
	"frame-system/std",
	"rstd/std",
	"orml-traits/std",
	"orml-tokens/std",
	"vaults/std",
	"cdp-engine/std",
	"support/std",
]
