[package]
name = "module-evm-utility"
version = "2.23.0"
authors = ["Acala Developers"]
edition = "2021"

[dependencies]
sha3 = { workspace = true }

sp-std = { workspace = true }

evm = { git = "https://github.com/rust-blockchain/evm", rev = "2e9c3b71f7b9ff241735f15145517d0627c469e6", default-features = false, features = ["with-codec"] }
evm-gasometer = { git = "https://github.com/rust-blockchain/evm", rev = "2e9c3b71f7b9ff241735f15145517d0627c469e6", default-features = false }
evm-runtime = { git = "https://github.com/rust-blockchain/evm", rev = "2e9c3b71f7b9ff241735f15145517d0627c469e6", default-features = false }
#evm = { version = "0.41.1", default-features = false, features = ["with-codec"] }
#evm-gasometer = { version = "0.41.0", default-features = false }
#evm-runtime = { version = "0.41.0", default-features = false }
ethereum = { version = "0.15.0", default-features = false, features = ["with-codec"] }

[features]
default = ["std"]
std = [
	"sha3/std",
	"sp-std/std",
	"evm/std",
	"evm/with-serde",
	"evm-runtime/std",
	"evm-gasometer/std",
	"ethereum/with-serde",
]
tracing = [
	"evm/tracing",
	"evm-gasometer/tracing",
	"evm-runtime/tracing",
]
