[submodule "orml"]
	path = orml
	url = https://github.com/open-web3-stack/open-runtime-module-library.git
[submodule "predeploy-contracts"]
	path = predeploy-contracts
	url = https://github.com/AcalaNetwork/predeploy-contracts.git
[submodule "stable-asset"]
	path = ecosystem-modules/stable-asset
	url = https://github.com/nutsfinance/stable-asset.git
[submodule "pint"]
	path = ecosystem-modules/pint
	url = https://github.com/ChainSafe/PINT.git
