[package]
name = "acala"
version = "0.4.3"
authors = ["Acala Developers"]
build = "build.rs"
edition = "2018"

[profile.release]
panic = "unwind"

[[bin]]
name = "acala"
path = "src/main.rs"

[dependencies]
codec = { package = "parity-scale-codec", version = "1.3.0" }
futures = "0.3.4"
hex-literal = "0.2.1"
jsonrpc-core = "14.0.3"
log = "0.4.8"
parity-util-mem = { version = "0.6.1", default-features = false, features = ["jemalloc-global"] }
serde = { version = "1.0.101", features = ["derive"] }
serde_json = "1.0.41"
structopt = "0.3.8"

pallet-transaction-payment-rpc = { version = "2.0.0-alpha.6" }
sc-authority-discovery = { version = "0.8.0-alpha.6" }
sc-basic-authorship = { version = "0.8.0-alpha.6"}
sc-chain-spec = { version = "2.0.0-alpha.6" }
sc-cli = { version = "0.8.0-alpha.6" }
sc-client = { version = "0.8.0-alpha.6" }
sc-client-api = { version = "2.0.0-alpha.6" }
sc-client-db = { version = "0.8.0-alpha.6" }
sc-consensus-babe = { version = "0.8.0-alpha.6" }
sc-consensus-babe-rpc = { version = "0.8.0-alpha.6" }
sc-consensus-epochs = { version = "0.8.0-alpha.6" }
sc-executor = { version = "0.8.0-alpha.6" }
sc-finality-grandpa = { version = "0.8.0-alpha.6" }
sc-keystore = { version = "2.0.0-alpha.6" }
sc-network = { version = "0.8.0-alpha.6" }
sc-offchain = { version = "2.0.0-alpha.6" }
sc-rpc = { version = "2.0.0-alpha.6" }
sc-service = { version = "0.8.0-alpha.6" }
sc-telemetry = { version = "2.0.0-alpha.6" }
sc-transaction-pool = { version = "2.0.0-alpha.6" }
sp-api = { version = "2.0.0-alpha.6" }
sp-consensus = { version = "0.8.0-alpha.6" }
sp-consensus-babe = { version = "0.8.0-alpha.6" }
sp-core = { version = "2.0.0-alpha.6" }
sp-finality-grandpa = { version = "2.0.0-alpha.6" }
sp-inherents = { version = "2.0.0-alpha.6" }
sp-io = { version = "2.0.0-alpha.6" }
sp-runtime = { version = "2.0.0-alpha.6" }
sp-transaction-pool = { version = "2.0.0-alpha.6" }
substrate-frame-rpc-system = { version = "2.0.0-alpha.6" }
frame-benchmarking-cli = { version = "2.0.0-alpha.6" }

module-dex-rpc = { path = "modules/dex/rpc" }
module-support = { path = "modules/support" }
module-staking-pool-rpc = { path = "modules/staking_pool/rpc" }
orml-oracle-rpc = { path = "orml/oracle/rpc" }
orml-utilities = { path = "orml/utilities" }
runtime = { package = "acala-runtime", path = "runtime" }
inspect = { package = "acala-inspect", path = "inspect" }

[build-dependencies]
vergen = "3.0.4"
build-script-utils = { package = "substrate-build-script-utils", version = "2.0.0-alpha.6" }

[workspace]
members = [
	"modules/*",
	"utilities",
	"orml/auction",
	"orml/currencies",
	"orml/gradually-update",
	"orml/oracle",
	"orml/prices",
	"orml/schedule-update",
	"orml/tokens",
	"orml/traits",
	"orml/utilities",
	"orml/vesting",
	"runtime",
	"inspect",
]
exclude = [ "runtime/wasm" ]
