[package]
name = "module-primitives"
version = "0.4.0"
authors = ["Acala Developers"]
edition = "2018"

[dependencies]
serde = { version = "1.0", optional = true }
codec = { package = "parity-scale-codec", version = "1.2.0", default-features = false }
sp-runtime = { version = "2.0.0-alpha.5", default-features = false }

[features]
default = ["std"]
std = [
	"serde",
	"codec/std",
	"sp-runtime/std",
]
