[package]
name = "acala-service"
version = "2.22.0"
authors = ["Acala Developers"]
edition = "2021"

[dependencies]
log = { workspace = true }
async-trait = { workspace = true }
hex-literal = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
parity-scale-codec = { workspace = true }
futures = { workspace = true }
hex = { workspace = true }
jsonrpsee = { workspace = true, features = ["server", "macros"] }

coins-bip32 = { workspace = true }
coins-bip39 = { workspace = true }
k256 = { workspace = true, features = ["keccak256", "ecdsa", "std"] }
tiny-keccak = { workspace = true, features = ["keccak"] }

sc-basic-authorship = { workspace = true }
sc-chain-spec = { workspace = true }
sc-cli = { workspace = true }
sc-client-api = { workspace = true }
sc-consensus = { workspace = true }
sc-consensus-aura = { workspace = true }
sc-consensus-grandpa = { workspace = true }
sc-consensus-manual-seal = { workspace = true }
sc-consensus-slots = { workspace = true }
sc-executor = { workspace = true }
sc-network = { workspace = true }
sc-network-common = { workspace = true }
sc-network-sync = { workspace = true }
sc-offchain = { workspace = true }
sc-rpc = { workspace = true }
sc-service = { workspace = true }
sc-telemetry = { workspace = true }
sc-tracing = { workspace = true }
sc-transaction-pool = { workspace = true }
sc-transaction-pool-api = { workspace = true }
sp-api = { workspace = true, features = ["std"] }
sp-consensus = { workspace = true }
sp-consensus-aura = { workspace = true, features = ["std"] }
sp-core = { workspace = true, features = ["std"] }
sp-io = { workspace = true, features = ["std"] }
sp-runtime = { workspace = true, features = ["std"] }

substrate-prometheus-endpoint = { workspace = true }
frame-benchmarking = { workspace = true, features = ["std"] }
frame-system-rpc-runtime-api = { workspace = true, features = ["std"] }
pallet-transaction-payment-rpc-runtime-api = { workspace = true, features = ["std"] }
sp-block-builder = { workspace = true, features = ["std"] }
sp-offchain = { workspace = true, features = ["std"] }
sp-session = { workspace = true, features = ["std"] }
sp-storage = { workspace = true }
sp-transaction-pool = { workspace = true, features = ["std"] }
sp-blockchain = { workspace = true }
sp-std = { workspace = true, features = ["std"] }
sp-trie = { workspace = true }
sp-timestamp = { workspace = true }
sp-keystore = { workspace = true, features = ["std"] }

cumulus-client-cli = { workspace = true }
cumulus-client-network = { workspace = true }
cumulus-client-service = { workspace = true }
cumulus-client-consensus-aura = { workspace = true }
cumulus-client-consensus-common = { workspace = true }
cumulus-client-consensus-relay-chain = { workspace = true }
cumulus-primitives-core = { workspace = true }
cumulus-primitives-parachain-inherent = { workspace = true }
cumulus-test-relay-sproof-builder = { workspace = true }
cumulus-pallet-parachain-system = { workspace = true }
cumulus-relay-chain-interface = { workspace = true }
cumulus-relay-chain-inprocess-interface = { workspace = true }
cumulus-relay-chain-rpc-interface = { workspace = true }
cumulus-relay-chain-minimal-node = { workspace = true }

polkadot-cli = { workspace = true }
polkadot-primitives = { workspace = true }
polkadot-service = { workspace = true }

primitives = { workspace = true, features = ["std"] }
acala-rpc = { workspace = true }

runtime-common = { workspace = true, features = ["std"] }
mandala-runtime = { workspace = true, features = ["std"], optional = true }
karura-runtime = { workspace = true, features = ["std"], optional = true }
acala-runtime = { workspace = true, features = ["std"], optional = true }

[features]
default = [ "std" ]
std = []
runtime-benchmarks = [
	"acala-runtime/runtime-benchmarks",
	"cumulus-pallet-parachain-system/runtime-benchmarks",
	"frame-benchmarking/runtime-benchmarks",
	"karura-runtime/runtime-benchmarks",
	"mandala-runtime/runtime-benchmarks",
	"polkadot-cli/runtime-benchmarks",
	"polkadot-primitives/runtime-benchmarks",
	"polkadot-service/runtime-benchmarks",
	"sc-service/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
]
try-runtime = [
	"acala-runtime/try-runtime",
	"cumulus-pallet-parachain-system/try-runtime",
	"karura-runtime/try-runtime",
	"mandala-runtime/try-runtime",
	"polkadot-cli/try-runtime",
	"polkadot-service/try-runtime",
]
with-mandala-runtime = [
	"mandala-runtime",
]
with-karura-runtime = [
	"karura-runtime",
]
with-acala-runtime = [
	"acala-runtime",
]
with-all-runtime = [
	"with-mandala-runtime",
	"with-karura-runtime",
	"with-acala-runtime",
]
