[package]
name = "acala-inspect"
version = "0.5.4"
authors = ["Acala Developers"]
edition = "2018"

[dependencies]
codec = { package = "parity-scale-codec", version = "1.3.0" }
derive_more = "0.99"
log = "0.4.8"
sc-cli = { version = "0.8.0-rc4" }
sc-client-api = { version = "2.0.0-rc4" }
sc-service = { version = "0.8.0-rc4" }
sp-blockchain = { version = "2.0.0-rc4" }
sp-core = { version = "2.0.0-rc4" }
sp-runtime = { version = "2.0.0-rc4" }
structopt = "0.3.8"
