[package]
name = "acala-inspect"
version = "0.4.3"
authors = ["Acala Developers"]
edition = "2018"

[dependencies]
codec = { package = "parity-scale-codec", version = "1.3.0" }
derive_more = "0.99"
log = "0.4.8"
sc-cli = { version = "0.8.0-alpha.6" }
sc-client-api = { version = "2.0.0-alpha.6" }
sc-service = { version = "0.8.0-alpha.6", default-features = false }
sp-blockchain = { version = "2.0.0-alpha.6" }
sp-core = { version = "2.0.0-alpha.6" }
sp-runtime = { version = "2.0.0-alpha.6" }
structopt = "0.3.8"
