[package]
name = "runtime-common"
version = "2.22.0"
authors = ["Acala Developers"]
edition = "2021"

[[bench]]
name = "precompile"
harness = false
required-features = ["wasm-bench"]

[dependencies]
hex-literal = "0.4.1"
static_assertions = "1.1.0"
log = { version = "0.4.17", default-features = false }
num_enum = { version = "0.5.1", default-features = false }
serde_json = { version = "1.0.85", default-features = false, features = ["alloc"] }
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["max-encoded-len"] }
ethabi = { version = "18.0.0", default-features = false }
scale-info = { version = "2.9.0", default-features = false, features = ["derive"] }

# substrate
frame-support = { workspace = true, features = ["tuples-96"] }
frame-system = { workspace = true }
pallet-scheduler  = { workspace = true }
pallet-collective = { workspace = true }
pallet-membership = { workspace = true }
pallet-balances = { workspace = true, optional = true }
pallet-timestamp = { workspace = true, optional = true }
pallet-proxy = { workspace = true, optional = true }
pallet-utility = { workspace = true, optional = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
sp-io = { workspace = true }

# cumulus
cumulus-pallet-parachain-system = { workspace = true }
cumulus-pallet-xcm = { workspace = true }

# polkadot
pallet-xcm = { workspace = true }
polkadot-parachain-primitives = { workspace = true }
polkadot-primitives = { workspace = true }
xcm = { workspace = true }
xcm-executor = { workspace = true }
xcm-builder = {  workspace = true }

# modules
module-currencies = { workspace = true }
module-evm = { workspace = true }
module-evm-utility-macro = { workspace = true }
module-support = { workspace = true }
module-idle-scheduler = { workspace = true }
module-prices = { workspace = true }
module-transaction-payment = { workspace = true }
module-nft = { workspace = true }
module-dex = { workspace = true }
module-evm-accounts = { workspace = true }
module-homa = { workspace = true }
module-asset-registry = { workspace = true, optional = true }
module-evm-bridge = { workspace = true, optional = true }
primitives = { workspace = true }
nutsfinance-stable-asset = { workspace = true }
module-honzon = { workspace = true }
module-loans = { workspace = true }
module-cdp-engine = { workspace = true }
module-cdp-treasury = { workspace = true, optional = true }
module-incentives = { workspace = true }
module-transaction-pause = { workspace = true }
module-liquid-crowdloan = { workspace = true }

# orml
orml-oracle = { workspace = true }
orml-traits = { workspace = true }
orml-tokens = { workspace = true }
orml-xtokens = { workspace = true }
wasm-bencher = { git = "https://github.com/open-web3-stack/wasm-bencher", branch = "polkadot-v1.1.0", default-features = false, optional = true }
orml-nft = { workspace = true, optional = true }
orml-currencies = { workspace = true, optional = true }
orml-rewards = { workspace = true, optional = true }

[dev-dependencies]
polkadot-runtime = { workspace = true }
orml-utilities = { workspace = true, features = ["std"] }

[features]
default = ["std"]
std = [
	"codec/std",
	"ethabi/std",
	"log/std",
	"num_enum/std",
	"scale-info/std",
	"serde_json/std",

	"frame-support/std",
	"frame-system/std",
	"pallet-balances/std",
	"pallet-collective/std",
	"pallet-membership/std",
	"pallet-proxy/std",
	"pallet-scheduler/std",
	"pallet-timestamp/std",
	"pallet-utility/std",
	"sp-core/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-std/std",

	"cumulus-pallet-parachain-system/std",

	"polkadot-parachain-primitives/std",
	"polkadot-primitives/std",
	"pallet-xcm/std",
	"xcm/std",
	"xcm-executor/std",
	"xcm-builder/std",

	"wasm-bencher/std",
	"orml-currencies/std",
	"orml-nft/std",
	"orml-oracle/std",
	"orml-rewards/std",
	"orml-tokens/std",
	"orml-traits/std",
	"orml-xtokens/std",

	"module-asset-registry/std",
	"module-cdp-engine/std",
	"module-cdp-treasury/std",
	"module-currencies/std",
	"module-dex/std",
	"module-evm-accounts/std",
	"module-evm-bridge/std",
	"module-evm/std",
	"module-homa/std",
	"module-honzon/std",
	"module-idle-scheduler/std",
	"module-incentives/std",
	"module-loans/std",
	"module-nft/std",
	"module-prices/std",
	"module-support/std",
	"module-transaction-pause/std",
	"module-transaction-payment/std",
	"module-liquid-crowdloan/std",
	"primitives/std",

	"nutsfinance-stable-asset/std",
]
with-ethereum-compatibility = [
	"module-evm/with-ethereum-compatibility",
]
wasm-bench = [
	"wasm-bencher/wasm-bench",
	"pallet-balances/runtime-benchmarks",
	"pallet-collective/runtime-benchmarks",
	"pallet-proxy/runtime-benchmarks",
	"pallet-timestamp/runtime-benchmarks",
	"pallet-utility/runtime-benchmarks",
	"pallet-xcm/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",

	"module-asset-registry",
	"module-cdp-treasury",
	"module-evm-bridge",

	"orml-currencies",
	"orml-nft",
	"orml-rewards",
	"orml-tokens/runtime-benchmarks",

	"xcm-builder/runtime-benchmarks",
	"polkadot-runtime/runtime-benchmarks",
]
