[package]
name = "runtime-common"
version = "0.7.11"
authors = ["Acala Developers"]
edition = "2018"

[dependencies]
static_assertions = "1.1.0"

serde = { version = "1.0.124", optional = true, default-features = false }
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1", default-features = false }
sp-core = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1", default-features = false }
frame-support = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1", default-features = false }
frame-system = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1", default-features = false }
pallet-scheduler  = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1", default-features = false }
module-evm = { path = "../../modules/evm", default-features = false }

orml-oracle = { path = "../../orml/oracle", default-features = false }
orml-traits = { path = "../../orml/traits", default-features = false }

module-support = { path = "../../modules/support", default-features = false }
module-transaction-payment = { path = "../../modules/transaction-payment", default-features = false }
module-prices = { path = "../../modules/prices", default-features = false }
primitives = { package = "acala-primitives", path = "../../primitives", default-features = false }
module-staking-pool = { path = "../../modules/staking-pool", default-features = false }

[dev-dependencies]
serde_json = "1.0.64"
hex-literal = "0.3.1"
sp-io = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1", default-features = false }
pallet-timestamp = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1", default-features = false }
pallet-balances = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1", default-features = false }
pallet-proxy = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1", default-features = false }
pallet-utility = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }
orml-tokens = { path = "../../orml/tokens" }
orml-nft = { path = "../../orml/nft" }
module-currencies = { path = "../../modules/currencies" }
module-evm-bridge = { path = "../../modules/evm-bridge" }
module-evm-manager = { path = "../../modules/evm-manager" }
module-nft = { path = "../../modules/nft" }
module-dex = { path = "../../modules/dex" }

[features]
default = ["std"]
std = [
	"serde",
	"codec/std",
	"sp-core/std",
	"sp-std/std",
	"sp-runtime/std",
	"frame-support/std",
	"frame-system/std",
	"pallet-scheduler/std",
	"module-evm/std",
	"orml-oracle/std",
	"orml-traits/std",
	"module-support/std",
	"primitives/std",
	"module-staking-pool/std",
	"module-transaction-payment/std",
	"module-prices/std",
]
with-ethereum-compatibility = []
