[package]
name = "runtime-common"
version = "0.6.3"
authors = ["Acala Developers"]
edition = "2018"

[dependencies]
module-support = { path = "../../modules/support", default-features = false }
orml-oracle = { path = "../../orml/oracle", default-features = false }
primitives = { package = "acala-primitives", path = "../../primitives", default-features = false }

[features]
default = ["std"]
std = [
	"module-support/std",
	"orml-oracle/std",
	"primitives/std",
]
