[package]
name = "runtime-common"
version = "2.8.0"
authors = ["Acala Developers"]
edition = "2021"

[[bench]]
name = "precompile"
harness = false
required-features = ["bench"]

[dependencies]
hex-literal = "0.3.1"
static_assertions = "1.1.0"
log = { version = "0.4.17", default-features = false }
num_enum = { version = "0.5.1", default-features = false }
serde = { version = "1.0.136", optional = true, default-features = false }
serde_json = { version = "1.0.68", default-features = false, features = ["alloc"] }
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["max-encoded-len"] }
ethabi = { version = "17.0.0", default-features = false }
scale-info = { version = "2.1", default-features = false, features = ["derive"] }

# substrate
frame-support = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
frame-system = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-scheduler  = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-collective = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-membership = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-balances = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false, optional = true }
pallet-timestamp = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false, optional = true }
pallet-proxy = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false, optional = true }
pallet-utility = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false, optional = true }
sp-core = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-io = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }

# cumulus
cumulus-pallet-parachain-system = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.24", default-features = false }

# polkadot
pallet-xcm = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.24", default-features = false, optional = true }
xcm = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.24", default-features = false }
xcm-executor = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.24", default-features = false }
xcm-builder = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.24", default-features = false }

# modules
module-currencies = { path = "../../modules/currencies", default-features = false }
module-evm = { path = "../../modules/evm", default-features = false }
module-evm-utility-macro = { path = "../../modules/evm-utility/macro" }
module-support = { path = "../../modules/support", default-features = false }
module-idle-scheduler = { path = "../../modules/idle-scheduler", default-features = false }
module-prices = { path = "../../modules/prices", default-features = false }
module-transaction-payment = { path = "../../modules/transaction-payment", default-features = false }
module-nft = { path = "../../modules/nft", default-features = false }
module-dex = { path = "../../modules/dex", default-features = false }
module-evm-accounts = { path = "../../modules/evm-accounts", default-features = false }
module-homa = {path = "../../modules/homa", default-features = false }
module-asset-registry = { path = "../../modules/asset-registry", default-features = false, optional = true }
module-evm-bridge = { path = "../../modules/evm-bridge", default-features = false, optional = true }
primitives = { package = "acala-primitives", path = "../../primitives", default-features = false }
nutsfinance-stable-asset = { version = "0.1.0", default-features = false, path = "../../ecosystem-modules/stable-asset/lib/stable-asset", package = "nutsfinance-stable-asset" }
module-honzon = { path = "../../modules/honzon", default-features = false }
module-loans = { path = "../../modules/loans", default-features = false }
module-cdp-engine = { path = "../../modules/cdp-engine", default-features = false }
module-cdp-treasury = { path = "../../modules/cdp-treasury", default-features = false, optional = true }
module-incentives = { path = "../../modules/incentives", default-features = false }

# orml
orml-oracle = { path = "../../orml/oracle", default-features = false }
orml-traits = { path = "../../orml/traits", default-features = false }
orml-bencher = { path = "../../orml/bencher", default-features = false, optional = true }
orml-tokens = { path = "../../orml/tokens", default-features = false, optional = true }
orml-nft = { path = "../../orml/nft", default-features = false, optional = true }
orml-currencies = { path = "../../orml/currencies", default-features = false, optional = true }
orml-rewards = { path = "../../orml/rewards", default-features = false, optional = true }

[features]
default = ["std"]
std = [
	"num_enum/std",
	"log/std",
	"serde",
	"serde_json/std",
	"codec/std",
	"scale-info/std",
	"ethabi/std",

	"frame-support/std",
	"frame-system/std",
	"pallet-scheduler/std",
	"pallet-collective/std",
	"pallet-membership/std",
	"pallet-balances/std",
	"pallet-timestamp/std",
	"pallet-proxy/std",
	"pallet-utility/std",
	"sp-core/std",
	"sp-runtime/std",
	"sp-std/std",
	"sp-io/std",

	"cumulus-pallet-parachain-system/std",

	"orml-oracle/std",
	"orml-traits/std",
	"orml-bencher/std",
	"orml-tokens/std",
	"orml-nft/std",
	"orml-currencies/std",
	"orml-rewards/std",

	"module-evm/std",
	"module-idle-scheduler/std",
	"module-support/std",
	"primitives/std",
	"module-prices/std",
	"module-transaction-payment/std",
	"module-nft/std",
	"module-dex/std",
	"module-homa/std",
	"module-currencies/std",
	"module-evm-accounts/std",
	"module-asset-registry/std",
	"module-evm-bridge/std",
	"module-loans/std",
	"module-cdp-engine/std",
	"module-honzon/std",
	"module-cdp-treasury/std",
	"module-incentives/std",

	"xcm/std",
	"xcm-executor/std",
	"xcm-builder/std",
]
with-ethereum-compatibility = [
	"module-evm/with-ethereum-compatibility",
]
bench = [
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"pallet-collective/runtime-benchmarks",
	"pallet-balances/runtime-benchmarks",
	"pallet-timestamp/runtime-benchmarks",
	"pallet-proxy/runtime-benchmarks",
	"pallet-utility/runtime-benchmarks",
	"pallet-xcm/runtime-benchmarks",

	"sp-runtime/runtime-benchmarks",

	"orml-bencher/bench",
	"orml-tokens/runtime-benchmarks",
	"orml-nft",
	"orml-currencies",

	"module-asset-registry",
	"module-evm-bridge",
	"module-cdp-treasury",

	"xcm/runtime-benchmarks",
	"xcm-builder/runtime-benchmarks",
]
