[package]
name = "module-transaction-payment"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }

[dependencies]
log = { workspace = true }
parity-scale-codec = { workspace = true }
scale-info = { workspace = true }
sp-runtime = { workspace = true }
frame-benchmarking = { workspace = true, optional = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-std = { workspace = true }
sp-io= { workspace = true }
pallet-balances = { workspace = true, optional = true }
pallet-transaction-payment = { workspace = true }
pallet-transaction-payment-rpc-runtime-api = { workspace = true }
primitives = { workspace = true }
module-support = { workspace = true }
orml-tokens = { workspace = true, optional = true }
orml-traits = { workspace = true }
xcm = { workspace = true }

[dev-dependencies]
sp-core = { workspace = true, features = ["std"] }
module-currencies = { workspace = true, features = ["std"] }
module-dex = { workspace = true, features = ["std"] }
module-aggregated-dex = { workspace = true, features = ["std"] }
smallvec = { workspace = true }

[features]
default = ["std"]
std = [
	"parity-scale-codec/std",
	"frame-benchmarking?/std",
	"frame-support/std",
	"frame-system/std",
	"orml-tokens?/std",
	"orml-traits/std",
	"pallet-balances?/std",
	"pallet-transaction-payment-rpc-runtime-api/std",
	"pallet-transaction-payment/std",
	"primitives/std",
	"scale-info/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-std/std",
	"module-support/std",
	"xcm/std",
]
runtime-benchmarks = [
	"frame-benchmarking/runtime-benchmarks",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"pallet-balances/runtime-benchmarks",
	"orml-tokens/runtime-benchmarks",
]
try-runtime = [
	"frame-support/try-runtime",
	"frame-system/try-runtime",
	"pallet-transaction-payment/try-runtime",
]
