[package]
name = "evm-rpc"
version = "2.6.3"
authors = ["Acala Developers"]
edition = "2021"

[dependencies]
jsonrpc-core = "18.0.0"
jsonrpc-derive = "18.0.0"
rustc-hex = "2.1.0"
serde = { version = "1.0.136", features = ["derive"] }

frame-support = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22" }
pallet-transaction-payment-rpc-runtime-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22" }
sc-rpc-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22" }
sp-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22" }
sp-blockchain = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22" }
sp-core = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22" }
sp-io = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22" }
sp-rpc = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22" }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22" }
sp-storage = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22" }

primitives = { package = "acala-primitives", path = "../../../primitives" }
module-evm-rpc-runtime-api = { path = "runtime_api" }
module-evm = { path = ".." }

[dev-dependencies]
serde_json = "1.0.68"
