[package]
name = "module-staking-pool-rpc-runtime-api"
version = "0.4.3"
authors = ["Acala Developers"]
edition = "2018"

[dependencies]
serde = { version = "1.0.101", optional = true, features = ["derive"] }
codec = { package = "parity-scale-codec", version = "1.3.0", default-features = false, features = ["derive"] }
sp-api = { version = "2.0.0-alpha.6", default-features = false }
sp-runtime = { version = "2.0.0-alpha.6", default-features = false }
rstd = { package = "sp-std", version = "2.0.0-alpha.6", default-features = false }

support = { package = "module-support", path = "../../../support", default-features = false }

[features]
default = ["std"]
std = [
	"serde",
	"codec/std",
	"sp-api/std",
	"sp-runtime/std",
	"rstd/std",
	"support/std",
]
