[package]
name = "module-honzon-bridge"
version = "2.26.0"
authors = ["Acala Developers"]
edition = "2021"

[dependencies]
scale-info = { workspace = true }
parity-scale-codec = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
primitives = { workspace = true }
orml-traits = { workspace = true }

[dev-dependencies]
serde_json = { workspace = true, features = ["std"] }
hex = { workspace = true, features = ["std"] }
sp-core = { workspace = true, features = ["std"] }
sp-io = { workspace = true, features = ["std"] }
pallet-balances = { workspace = true, features = ["std"] }
pallet-timestamp = { workspace = true, features = ["std"] }

module-currencies = { workspace = true, features = ["std"] }
module-evm = { workspace = true, features = ["std"] }
module-evm-accounts = { workspace = true, features = ["std"] }
module-evm-bridge = { workspace = true, features = ["std"] }
module-support = { workspace = true, features = ["std"] }
orml-tokens = { workspace = true, features = ["std"] }

[features]
default = ["std"]
std = [
	"parity-scale-codec/std",
	"frame-support/std",
	"frame-system/std",
	"orml-traits/std",
	"primitives/std",
	"scale-info/std",
	"sp-runtime/std",
	"sp-std/std",
]
try-runtime = [
	"frame-support/try-runtime",
	"frame-system/try-runtime",
]
