[package]
name = "module-dex-rpc"
version = "0.3.4"
authors = ["Acala Developers"]
edition = "2018"

[dependencies]
codec = { package = "parity-scale-codec", version = "1.0.0" }
jsonrpc-core = "14.0.3"
jsonrpc-core-client = "14.0.3"
jsonrpc-derive = "14.0.3"
sp-runtime = { git = "https://github.com/paritytech/substrate.git" }
sp-api = { git = "https://github.com/paritytech/substrate.git" }
sp-blockchain = { git = "https://github.com/paritytech/substrate.git" }
module-dex-rpc-runtime-api = { path = "runtime-api" }
