[package]
name = "module-evm"
version = "2.8.0"
authors = ["Acala Developers"]
edition = "2021"

[[bench]]
name = "orml_benches"
harness = false
required-features = ["bench"]

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false }
hex-literal = { version = "0.3.1" }
primitive-types = { version = "0.11.1", default-features = false, features = ["rlp", "byteorder"] }
ripemd160 = { version = "0.9", default-features = false }
rlp = { version = "0.5", default-features = false }
serde = { version = "1.0.136", optional = true, features = ["derive"] }
sha3 = { version = "0.9.1", default-features = false }
tiny-keccak = { version = "2.0", features = ["fips202"] }
scale-info = { version = "2.1", default-features = false, features = ["derive"] }
serde_json = { version = "1.0", default-features = false, features = ["alloc"], optional = true }
hex = { version = "0.4", default-features = false, features = ["alloc"], optional = true }
num = { version = "0.4", features = ["alloc"], default-features = false }
bn = { package = "substrate-bn", version = "0.6", default-features = false }

frame-support = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
frame-system = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-timestamp = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-balances = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false, optional = true }

sp-core = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-io = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
orml-traits = { path = "../../orml/traits", default-features = false }
orml-bencher = { path = "../../orml/bencher", default-features = false, optional = true }
orml-currencies = { path = "../../orml/currencies", default-features = false, optional = true }
orml-tokens = { path = "../../orml/tokens", default-features = false, optional = true }

module-support = { path = "../support", default-features = false }
module-evm-utility = { path = "../evm-utility", default-features = false }
primitives = { package = "acala-primitives", path = "../../primitives", default-features = false }
module-idle-scheduler = { path = "../idle-scheduler", default-features = false, optional = true }
module-transaction-payment = { path = "../../modules/transaction-payment", default-features = false }
module-dex = { path = "../dex", default-features = false, optional = true }

xcm-builder = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.24", default-features = false }

[dev-dependencies]
hex = "0.4"
env_logger = "0.9.0"
serde_json = "1.0.68"

[features]
default = ["std"]
std = [
	"serde",
	"codec/std",
	"scale-info/std",
	"sp-core/std",
	"sp-runtime/std",
	"frame-support/std",
	"frame-system/std",
	"sp-io/std",
	"sp-std/std",
	"sha3/std",
	"rlp/std",
	"num/std",
	"module-evm-utility/std",
	"primitive-types/std",
	"pallet-timestamp/std",
	"pallet-balances/std",
	"ripemd160/std",
	"primitives/std",
	"orml-traits/std",
	"module-support/std",
	"orml-bencher/std",
	"orml-currencies/std",
	"orml-tokens/std",
	"module-idle-scheduler/std",
	"module-transaction-payment/std",
	"module-dex/std",
	"xcm-builder/std"
]
with-ethereum-compatibility = []
try-runtime = ["frame-support/try-runtime"]
tracing = ["module-evm-utility/tracing"]
bench = [
	"pallet-balances",
	"orml-currencies",
	"orml-tokens",
	"orml-bencher/bench",
	"frame-support/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"serde_json",
	"hex",
	"module-idle-scheduler",
	"module-dex",
	"xcm-builder/runtime-benchmarks"
]
evm-tests = [
	"primitives/evm-tests"
]
