[package]
name = "module-evm"
version = "2.26.0"
authors = ["Acala Developers"]
edition = "2021"

[[bench]]
name = "orml_benches"
harness = false
required-features = ["wasm-bench"]

[dependencies]
log = { workspace = true }
parity-scale-codec = { workspace = true }
hex-literal = { workspace = true }
ripemd = { workspace = true }
rlp = { workspace = true }
serde = { workspace = true, features = ["alloc", "derive"] }
sha3 = { workspace = true }
tiny-keccak = { workspace = true, features = ["fips202"] }
scale-info = { workspace = true }
serde_json = { workspace = true, features = ["alloc"], optional = true }
hex = { workspace = true, features = ["alloc"], optional = true }
num = { workspace = true, features = ["alloc"] }
bn = { workspace = true }
environmental = { version = "1.1.4", default-features = false, optional = true }

frame-support = { workspace = true }
frame-system = { workspace = true }
pallet-timestamp = { workspace = true }
pallet-balances = { workspace = true, optional = true }

sp-core = { workspace = true }
sp-io = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
orml-traits = { workspace = true }
wasm-bencher = { workspace = true, optional = true }
orml-currencies = { workspace = true, optional = true }
orml-tokens = { workspace = true, optional = true }

module-support = { workspace = true }
module-evm-utility = { workspace = true }
primitives = { workspace = true }
module-idle-scheduler = { workspace = true, optional = true }
module-transaction-payment = { workspace = true }
module-dex = { workspace = true, optional = true }

xcm-builder = { workspace = true }

# we don't directly depends on this but need frame-benchmarking/std to fix build
frame-benchmarking = { workspace = true, optional = true }

[dev-dependencies]
insta = { workspace = true }
hex = { workspace = true, features = ["std"] }
env_logger = { workspace = true }
serde_json = { workspace = true, features = ["std"] }
pallet-utility = { workspace = true, features = ["std"] }

[features]
default = ["std"]
std = [
	"serde/std",
	"parity-scale-codec/std",
	"frame-support/std",
	"frame-system/std",
	"module-dex/std",
	"module-evm-utility/std",
	"module-idle-scheduler/std",
	"module-support/std",
	"module-transaction-payment/std",
	"num/std",
	"wasm-bencher/std",
	"orml-currencies/std",
	"orml-tokens/std",
	"orml-traits/std",
	"pallet-balances/std",
	"pallet-timestamp/std",
	"primitives/std",
	"ripemd/std",
	"rlp/std",
	"scale-info/std",
	"sha3/std",
	"sp-core/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-std/std",
	"xcm-builder/std",
	"frame-benchmarking/std",
]
with-ethereum-compatibility = []
try-runtime = [
	"frame-support/try-runtime",
	"frame-system/try-runtime",
	"module-dex/try-runtime",
	"module-idle-scheduler/try-runtime",
	"module-transaction-payment/try-runtime",
	"orml-currencies/try-runtime",
	"orml-tokens/try-runtime",
	"pallet-balances/try-runtime",
	"pallet-timestamp/try-runtime",
]
tracing = ["environmental", "primitives/tracing", "module-evm-utility/tracing"]
wasm-bench = [
	"wasm-bencher/wasm-bench",
	"hex",
	"module-dex",
	"module-idle-scheduler",
	"orml-currencies",
	"orml-tokens",
	"pallet-balances",
	"serde_json",
	"sp-runtime/runtime-benchmarks",
	"xcm-builder/runtime-benchmarks",
]
evm-tests = [
	"primitives/evm-tests"
]
