[package]
name = "acala-runtime"
version = "2.8.0"
authors = ["Acala Developers"]
edition = "2021"
build = "build.rs"

[dependencies]
smallvec = "1.4.0"
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive", "max-encoded-len"] }
scale-info = { version = "2.1", default-features = false, features = ["derive"] }
serde = { version = "1.0.136", optional = true }
serde_json = { version = "1.0.68", default-features = false, features = ["alloc"] }
hex = { version = "0.4", default-features = false }
hex-literal = { version = "0.3.1" }

# substrate
frame-executive = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
frame-support = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
frame-system = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
frame-system-rpc-runtime-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
frame-try-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false, optional = true }
pallet-aura = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false}
pallet-authorship = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false}
pallet-balances = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-bounties = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-collective = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-democracy = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features =false }
pallet-membership = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-multisig = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-proxy = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-scheduler = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-session = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false, features = ["historical"] }
pallet-staking = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-staking-reward-curve = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-sudo = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-timestamp = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-tips = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-transaction-payment = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-transaction-payment-rpc-runtime-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-treasury = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-utility = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-preimage = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-application-crypto = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-block-builder = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-consensus-aura = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-core = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-inherents = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-io = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-offchain = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-session = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-staking = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-transaction-pool = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-version = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }

# cumulus
cumulus-pallet-aura-ext = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.24", default-features = false }
cumulus-primitives-core = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.24", default-features = false }
cumulus-primitives-utility = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.24", default-features = false }
cumulus-primitives-timestamp = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.24", default-features = false }
cumulus-pallet-parachain-system = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.24", default-features = false }
cumulus-pallet-dmp-queue = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.24", default-features = false }
cumulus-pallet-xcmp-queue = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.24", default-features = false }
cumulus-pallet-xcm = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.24", default-features = false }
parachain-info = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.24", default-features = false }

# polkadot
polkadot-parachain = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.24", default-features = false }
xcm = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.24", default-features = false }
xcm-executor = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.24", default-features = false }
xcm-builder = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.24", default-features = false }
pallet-xcm = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.24", default-features = false }

# orml
orml-auction = { path = "../../orml/auction", default-features = false }
orml-authority = { path = "../../orml/authority", default-features = false }
orml-benchmarking = { path = "../../orml/benchmarking", default-features = false, optional = true }
orml-oracle = { path = "../../orml/oracle", default-features = false }
orml-oracle-rpc-runtime-api = { path = "../../orml/oracle/rpc/runtime-api", default-features = false }
orml-tokens = { path = "../../orml/tokens", default-features = false }
orml-tokens-rpc-runtime-api = { path = "../../orml/tokens/rpc/runtime-api", default-features = false }
orml-traits = { path = "../../orml/traits", default-features = false }
orml-vesting = { path = "../../orml/vesting", default-features = false }
orml-rewards = { path = "../../orml/rewards", default-features = false }
orml-nft= { path = "../../orml/nft", default-features = false }
orml-xtokens = { path = "../../orml/xtokens", default-features = false }
orml-xcm-support = { path = "../../orml/xcm-support", default-features = false }
orml-unknown-tokens = { path = "../../orml/unknown-tokens", default-features = false }
orml-xcm = { path = "../../orml/xcm", default-features = false }

# modules
module-transaction-pause = { path = "../../modules/transaction-pause", default-features = false }
module-transaction-payment = { path = "../../modules/transaction-payment", default-features = false }
module-asset-registry = { path = "../../modules/asset-registry", default-features = false }
module-auction-manager = { path = "../../modules/auction-manager", default-features = false }
module-cdp-engine = { path = "../../modules/cdp-engine", default-features = false }
module-cdp-treasury = { path = "../../modules/cdp-treasury", default-features = false }
module-collator-selection = { path = "../../modules/collator-selection", default-features = false }
module-currencies = { path = "../../modules/currencies", default-features = false }
module-dex = { path = "../../modules/dex", default-features = false }
module-dex-oracle = { path = "../../modules/dex-oracle", default-features = false }
module-emergency-shutdown = { path = "../../modules/emergency-shutdown", default-features = false }
module-evm = { path = "../../modules/evm", default-features = false }
module-evm-accounts = { path = "../../modules/evm-accounts", default-features = false }
module-evm-bridge = { path = "../../modules/evm-bridge", default-features = false }
module-evm-rpc-runtime-api = { path = "../../modules/evm/rpc/runtime_api",  default-features = false }
module-honzon = { path = "../../modules/honzon", default-features = false }
module-loans = { path = "../../modules/loans", default-features = false }
module-nft = { path = "../../modules/nft", default-features = false }
module-prices = { path = "../../modules/prices", default-features = false }
module-incentives = { path = "../../modules/incentives", default-features = false }
module-support = { path = "../../modules/support", default-features = false }
module-homa = { path = "../../modules/homa", default-features = false }
module-xcm-interface = { path = "../../modules/xcm-interface", default-features = false }
module-session-manager = { path = "../../modules/session-manager", default-features = false }
module-relaychain = { path = "../../modules/relaychain", default-features = false, features = ["polkadot"] }
module-idle-scheduler = { path = "../../modules/idle-scheduler", default-features = false }
module-aggregated-dex = { path = "../../modules/aggregated-dex", default-features = false }

primitives = { package = "acala-primitives", path = "../../primitives", default-features = false }
runtime-common = { path = "../common", default-features = false }

# ecosystem
nutsfinance-stable-asset = { version = "0.1.0", default-features = false, path = "../../ecosystem-modules/stable-asset/lib/stable-asset", package = "nutsfinance-stable-asset" }

# benchmarking deps
libsecp256k1 = { version = "0.7", default-features = false, optional = true }
frame-benchmarking = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false, optional = true }

[build-dependencies]
substrate-wasm-builder = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24" }

[dev-dependencies]
sp-io = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24" }

[features]
default = ["std"]
no_std = []
std = [
	"codec/std",
	"scale-info/std",
	"serde",
	"hex/std",
	"serde_json/std",

	"frame-benchmarking/std",
	"frame-executive/std",
	"frame-support/std",
	"frame-system-rpc-runtime-api/std",
	"frame-system/std",
	"frame-try-runtime/std",
	"pallet-aura/std",
	"pallet-authorship/std",
	"pallet-balances/std",
	"pallet-bounties/std",
	"pallet-collective/std",
	"pallet-democracy/std",
	"pallet-membership/std",
	"pallet-multisig/std",
	"pallet-proxy/std",
	"pallet-scheduler/std",
	"pallet-session/std",
	"pallet-staking/std",
	"pallet-sudo/std",
	"pallet-timestamp/std",
	"pallet-tips/std",
	"pallet-transaction-payment/std",
	"pallet-transaction-payment-rpc-runtime-api/std",
	"pallet-treasury/std",
	"pallet-utility/std",
	"pallet-preimage/std",
	"sp-api/std",
	"sp-block-builder/std",
	"sp-consensus-aura/std",
	"sp-core/std",
	"sp-offchain/std",
	"sp-runtime/std",
	"sp-session/std",
	"sp-staking/std",
	"sp-std/std",
	"sp-transaction-pool/std",
	"sp-version/std",
	"pallet-bounties/std",
	"pallet-tips/std",

	"cumulus-pallet-aura-ext/std",
	"cumulus-primitives-core/std",
	"cumulus-primitives-utility/std",
	"cumulus-pallet-parachain-system/std",
	"cumulus-pallet-dmp-queue/std",
	"cumulus-pallet-xcmp-queue/std",
	"cumulus-pallet-xcm/std",
	"cumulus-primitives-timestamp/std",
	"parachain-info/std",

	"polkadot-parachain/std",
	"xcm/std",
	"xcm-executor/std",
	"xcm-builder/std",
	"pallet-xcm/std",

	"orml-auction/std",
	"orml-authority/std",
	"orml-benchmarking/std",
	"orml-oracle-rpc-runtime-api/std",
	"orml-oracle/std",
	"orml-tokens/std",
	"orml-tokens-rpc-runtime-api/std",
	"orml-traits/std",
	"orml-vesting/std",
	"orml-rewards/std",
	"orml-nft/std",
	"orml-xtokens/std",
	"orml-xcm-support/std",
	"orml-unknown-tokens/std",
	"orml-xcm/std",

	"module-transaction-pause/std",
	"module-transaction-payment/std",
	"module-asset-registry/std",
	"module-auction-manager/std",
	"module-cdp-engine/std",
	"module-cdp-treasury/std",
	"module-collator-selection/std",
	"module-currencies/std",
	"module-dex/std",
	"module-dex-oracle/std",
	"module-emergency-shutdown/std",
	"module-evm/std",
	"module-evm-accounts/std",
	"module-evm-bridge/std",
	"module-honzon/std",
	"module-loans/std",
	"module-nft/std",
	"module-prices/std",
	"module-incentives/std",
	"module-support/std",
	"module-homa/std",
	"module-xcm-interface/std",
	"module-session-manager/std",
	"module-relaychain/std",
	"module-idle-scheduler/std",
	"module-aggregated-dex/std",
	"primitives/std",
	"runtime-common/std",

	"module-evm-rpc-runtime-api/std",
]
runtime-benchmarks = [
	"orml-benchmarking",
	"libsecp256k1/hmac",

	"frame-benchmarking/runtime-benchmarks",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"pallet-collective/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
	"orml-authority/runtime-benchmarks",
	"orml-vesting/runtime-benchmarks",
	"orml-tokens/runtime-benchmarks",
	"pallet-timestamp/runtime-benchmarks",
	"xcm-builder/runtime-benchmarks",
	"pallet-xcm/runtime-benchmarks",

	"module-nft/runtime-benchmarks",
	"module-evm-accounts/runtime-benchmarks",

	"sp-api/disable-logging",
]
# When enabled, the runtime api will not be build.
#
# This is required by Cumulus to access certain types of the
# runtime without clashing with the runtime api exported functions
# in WASM.
disable-runtime-api = []

# A feature that should be enabled when the runtime should be build for on-chain
# deployment. This will disable stuff that shouldn't be part of the on-chain wasm
# to make it smaller like logging for example.
on-chain-release-build = [
	"sp-api/disable-logging",
]
try-runtime = [
	"frame-try-runtime",
	"frame-executive/try-runtime",
	"frame-system/try-runtime",

	"pallet-aura/try-runtime",
	"pallet-authorship/try-runtime",
	"pallet-balances/try-runtime",
	"pallet-bounties/try-runtime",
	"pallet-collective/try-runtime",
	"pallet-democracy/try-runtime",
	"pallet-membership/try-runtime",
	"pallet-multisig/try-runtime",
	"pallet-proxy/try-runtime",
	"pallet-scheduler/try-runtime",
	"pallet-session/try-runtime",
	"pallet-staking/try-runtime",
	"pallet-sudo/try-runtime",
	"pallet-timestamp/try-runtime",
	"pallet-tips/try-runtime",
	"pallet-transaction-payment/try-runtime",
	"pallet-treasury/try-runtime",
	"pallet-utility/try-runtime",
	"pallet-bounties/try-runtime",
	"pallet-tips/try-runtime",
	"pallet-preimage/try-runtime",

	"orml-auction/try-runtime",
	"orml-authority/try-runtime",
	"orml-oracle/try-runtime",
	"orml-tokens/try-runtime",
	"orml-vesting/try-runtime",
	"orml-rewards/try-runtime",
	"orml-nft/try-runtime",

	"module-transaction-pause/try-runtime",
	"module-transaction-payment/try-runtime",
	"module-asset-registry/try-runtime",
	"module-auction-manager/try-runtime",
	"module-cdp-engine/try-runtime",
	"module-cdp-treasury/try-runtime",
	"module-collator-selection/try-runtime",
	"module-currencies/try-runtime",
	"module-dex/try-runtime",
	"module-dex-oracle/try-runtime",
	"module-emergency-shutdown/try-runtime",
	"module-evm/try-runtime",
	"module-evm-accounts/try-runtime",
	"module-evm-bridge/try-runtime",
	"module-honzon/try-runtime",
	"module-loans/try-runtime",
	"module-nft/try-runtime",
	"module-prices/try-runtime",
	"module-incentives/try-runtime",
	"module-homa/try-runtime",
	"module-xcm-interface/try-runtime",
	"module-session-manager/try-runtime",
]
# By default some types have documentation, `no-metadata-docs` allows to reduce the documentation
# in the metadata.
no-metadata-docs = ["frame-support/no-metadata-docs"]
# By default some types have documentation, `full-metadata-docs` allows to add documentation to
# more types in the metadata.
full-metadata-docs = ["frame-support/full-metadata-docs"]
