[package]
name = "ecosystem-renvm-bridge"
version = "0.0.1"
authors = ["Acala Developers"]
edition = "2018"

[dependencies]
serde = { version = "1.0.101", optional = true }
codec = { package = "parity-scale-codec", version = "1.3.0", default-features = false }
frame-system = { version = "2.0.0-rc5", default-features = false }
frame-support = { version = "2.0.0-rc5", default-features = false }
sp-std = { version = "2.0.0-rc5", default-features = false }
sp-io = { version = "2.0.0-rc5", default-features = false }
sp-runtime = { version = "2.0.0-rc5", default-features = false }
orml-traits = { path = "../../../orml/traits", default-features = false }
primitives = { package = "acala-primitives", path = "../../../primitives", default-features = false }

[dev-dependencies]
hex-literal = { version = "0.2.1" }
orml-currencies = { path = "../../../orml/currencies", default-features = false }
pallet-balances = { version = "2.0.0-rc5", default-features = false }
sp-core = { version = "2.0.0-rc5", default-features = false }

[features]
default = ["std"]
std = [
	"frame-system/std",
	"frame-support/std",
	"sp-std/std",
	"sp-io/std",
	"sp-runtime/std",
	"orml-traits/std",
	"primitives/std",
]
