[package]
name = "ecosystem-renvm-bridge"
version = "2.16.0"
authors = ["Acala Developers"]
edition = "2021"

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false }
scale-info = { version = "2.2.0", default-features = false, features = ["derive"] }
frame-system = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false }
frame-support = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false }
sp-io = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false }
sp-core = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40", default-features = false }
support = { package = "module-support", path = "../../../modules/support", default-features = false }
orml-traits = { path = "../../../orml/traits", default-features = false }
primitives = { package = "acala-primitives", path = "../../../primitives", default-features = false }

[dev-dependencies]
hex-literal = "0.3.4"
orml-currencies = { path = "../../../orml/currencies" }
orml-tokens = { path = "../../../orml/tokens" }
pallet-balances = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.40" }

[features]
default = ["std"]
std = [
	"codec/std",
	"scale-info/std",
	"frame-system/std",
	"frame-support/std",
	"sp-std/std",
	"sp-core/std",
	"sp-io/std",
	"sp-runtime/std",
	"support/std",
	"orml-traits/std",
	"primitives/std",
]
try-runtime = [
	"frame-support/try-runtime",
	"frame-system/try-runtime",
]
