[package]
name = "module-transaction-pause"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }

[dependencies]
log = { workspace = true }
hex-literal = { workspace = true }
parity-scale-codec = { workspace = true }
scale-info = { workspace = true }
frame-benchmarking = { workspace = true, optional = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
module-support = { workspace = true }

[dev-dependencies]
sp-io = { workspace = true, features = ["std"] }
pallet-balances = { workspace = true, features = ["std"] }
orml-tokens = { workspace = true, features = ["std"] }
orml-traits = { workspace = true, features = ["std"] }
primitives = { workspace = true, features = ["std"] }
smallvec = { workspace = true }

[features]
default = ["std"]
std = [
	"frame-benchmarking?/std",
	"parity-scale-codec/std",
	"frame-support/std",
	"frame-system/std",
	"module-support/std",
	"scale-info/std",
	"sp-core/std",
	"sp-runtime/std",
	"sp-std/std",
]
runtime-benchmarks = [
	"frame-benchmarking/runtime-benchmarks",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
]
try-runtime = [
	"frame-support/try-runtime",
	"frame-system/try-runtime",
]
