[package]
name = "module-support"
version = "2.26.0"
authors = ["Acala Developers"]
edition = "2021"

[dependencies]
impl-trait-for-tuples = { workspace = true }
parity-scale-codec = { workspace = true }
scale-info = { workspace = true }
serde = { workspace = true, features = ["std"], optional = true }

frame-support = { workspace = true }
frame-system = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
sp-core = { workspace = true }
sp-io = { workspace = true }
xcm = { workspace = true }

orml-tokens = { workspace = true }
nutsfinance-stable-asset = { workspace = true }
primitives = { workspace = true }

[dev-dependencies]
serde_json = { workspace = true, features = ["std"] }

[features]
default = ["std"]
std = [
	"parity-scale-codec/std",
	"frame-support/std",
	"frame-system/std",
	"nutsfinance-stable-asset/std",
	"orml-tokens/std",
	"primitives/std",
	"scale-info/std",
	"serde",
	"sp-core/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-std/std",
	"xcm/std",
]
