[package]
name = "module-support"
version = "0.3.4"
authors = ["Acala Developers"]
edition = "2018"

[dependencies]
codec = { package = "parity-scale-codec", version = "1.0.0", default-features = false }
orml-utilities = { package = "orml-utilities", path = "../../orml/utilities", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate.git", default-features = false }
rstd = { package = "sp-std", git = "https://github.com/paritytech/substrate.git", default-features = false }
impl-trait-for-tuples = "0.1.3"

[features]
default = ["std"]
std = [
	"orml-utilities/std",
	"sp-runtime/std",
]
