[package]
name = "module-nft"
version = "2.26.0"
authors = ["Acala Developers"]
edition = "2021"

[dependencies]
serde = { workspace = true, features = ["alloc", "derive"] }
parity-scale-codec = { workspace = true, features = ["max-encoded-len"] }
scale-info = { workspace = true }

frame-benchmarking = { workspace = true, optional = true}
frame-support = { workspace = true }
frame-system = { workspace = true }
pallet-proxy = { workspace = true }
primitives = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }

orml-nft = { workspace = true }
orml-traits = { workspace = true }

[dev-dependencies]
sp-core = { workspace = true, features = ["std"] }
sp-io = { workspace = true, features = ["std"] }
pallet-balances = { workspace = true, features = ["std"] }
pallet-utility = { workspace = true, features = ["std"] }
orml-tokens = { workspace = true, features = ["std"] }
module-currencies = { workspace = true, features = ["std"] }
module-support = { workspace = true, features = ["std"] }

[features]
default = ["std"]
std = [
	"serde/std",

	"parity-scale-codec/std",
	"frame-benchmarking/std",
	"frame-support/std",
	"frame-system/std",
	"orml-nft/std",
	"orml-traits/std",
	"pallet-proxy/std",
	"primitives/std",
	"scale-info/std",
	"sp-runtime/std",
	"sp-std/std",
]
runtime-benchmarks = [
	"frame-benchmarking/runtime-benchmarks",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"pallet-proxy/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
]
try-runtime = [
	"frame-support/try-runtime",
	"frame-system/try-runtime",
	"orml-nft/try-runtime",
	"pallet-proxy/try-runtime",
]
