[package]
name = "module-evm-bridge"
version = "2.26.0"
authors = ["Acala Developers"]
edition = "2021"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
impl-trait-for-tuples = { workspace = true }
ethereum-types = { workspace = true }
num_enum = { workspace = true }

parity-scale-codec = { workspace = true }
scale-info = { workspace = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
sp-io = { workspace = true }

module-evm = { workspace = true }
module-evm-utility-macro = { workspace = true }
module-support = { workspace = true }
primitives = { workspace = true }

[dev-dependencies]
insta = { workspace = true }
serde_json = { workspace = true, features = ["std"] }
hex = { workspace = true, features = ["std"] }
pallet-balances = { workspace = true, features = ["std"] }
pallet-timestamp = { workspace = true, features = ["std"] }

[features]
default = ["std"]
std = [
	"parity-scale-codec/std",
	"ethereum-types/std",
	"frame-support/std",
	"frame-system/std",
	"module-evm/std",
	"num_enum/std",
	"primitives/std",
	"scale-info/std",
	"sp-core/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-std/std",
	"module-support/std",
]
runtime-benchmarks = [
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
]
try-runtime = [
	"frame-support/try-runtime",
	"frame-system/try-runtime",
	"module-evm/try-runtime",
]
tracing = ["module-evm/tracing"]
