[package]
name = "module-evm-rpc-runtime-api"
version = "2.26.0"
authors = ["Acala Developers"]
edition = "2021"

[dependencies]
sp-runtime = { workspace = true }
sp-api = { workspace = true }
sp-std = { workspace = true }
sp-core = { workspace = true }
primitives = { workspace = true }

[features]
default = ["std"]
std = [
	"sp-runtime/std",
	"sp-api/std",
	"sp-std/std",
	"sp-core/std",
	"primitives/std",
]
tracing = ["primitives/tracing"]
