# This is a basic workflow to help you get started with Actions
name: publish solidity package

# Controls when the action will run.
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      commitMessage:
        description: 'commit message'
        required: true
        default: 'update tokens and publish it'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          persist-credentials: false
      - uses: actions/setup-node@v2
        with:
          node-version: '14.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2021-06-01
          components: rustfmt
          target: wasm32-unknown-unknown
          default: true
      - name: publish solidity package
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          set -x
          echo running on branch ${GITHUB_REF##*/}
          git config --global user.name "Github Actions"
          git config --global user.email "Github Actions"
          cd predeploy-contracts
          git checkout master
          git pull
          cd ..
          make generate-tokens
          cd predeploy-contracts
          if [ -z "$(git status --porcelain)" ]
          then
              echo "nothing to update."
          else
              git commit -am "${{ github.event.inputs.commitMessage }}"
          fi
          cd ..
          cd predeploy-contracts/contracts
          yarn run prepare
          yarn version --patch
          new_version=$(yarn versions --json | jq -er '.data."@acala-network/contracts"')
          git push "https://${{ secrets.GH_PAT }}@github.com/AcalaNetwork/predeploy-contracts.git" HEAD:master
          yarn publish --new-version=$new_version --access=public
          cd ../..
          git commit -am "${{ github.event.inputs.commitMessage }}"
          if [ ${GITHUB_REF##*/} -eq "master" ]
          then
              branch="update-predeploy-contracts-$(date "+%Y%m%d%H%M%y")"
              git checkout -b "$branch"
              git push -u "https://${{ secrets.GH_PAT }}@github.com/AcalaNetwork/Acala.git" "$branch"
              hub pull-request -m "${{ github.event.inputs.commitMessage }}"
          else
              git push "https://${{ secrets.GH_PAT }}@github.com/AcalaNetwork/Acala.git" HEAD:${GITHUB_REF##*/}
          fi
