name: Release Notes

env:
  SUBWASM_VERSION: 0.15.0

on:
  workflow_dispatch:
    inputs:
      chain:
        description: Network [mandala | karura | acala]
        default: karura
        required: true
      scope:
        description: Release scope [client | runtime | full]
        default: full
        required: true
      srtool_image:
        description: You can use an alternate image, use with caution!
        default: paritytech/srtool:1.56.1
        required: true

jobs:
  release-notes:
    name: Crate release note
    runs-on: [self-hosted, linux]
    env:
      CHAIN: ${{ github.event.inputs.chain }}
      SCOPE: ${{ github.event.inputs.scope }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2021-11-07
          components: rustfmt
          target: wasm32-unknown-unknown
          default: true

      - name: Install subwasm
        run: |
          wget https://github.com/chevdor/subwasm/releases/download/v${{ env.SUBWASM_VERSION }}/subwasm_linux_amd64_v${{ env.SUBWASM_VERSION }}.deb
          sudo dpkg -i subwasm_linux_amd64_v${{ env.SUBWASM_VERSION }}.deb
          subwasm --version

      - name: Srtool build & subwasm info
        id: srtool_build
        env:
          PACKAGE: ${{ env.CHAIN }}-runtime
          RUNTIME_DIR: runtime/${{ env.CHAIN }}
          SRTOOL_IMAGE: ${{ github.event.inputs.srtool_image }}
        run: |
          docker run -i --rm -e PACKAGE=${{ env.PACKAGE }} -e RUNTIME_DIR=${{ env.RUNTIME_DIR }} -v ${{ github.workspace }}:/build ${{ env.SRTOOL_IMAGE }} build  | sed -e '1,/Your Substrate WASM Runtime is ready!/d' > ${{ env.CHAIN }}-srtool-details.txt
          cat ${{ env.CHAIN }}-srtool-details.txt

          WASM_PATH='runtime/${{ env.CHAIN }}/target/srtool/release/wbuild/${{ env.CHAIN }}-runtime/${{ env.CHAIN }}_runtime.compact.wasm'
          WASM_COMPRESSED_PATH='runtime/${{ env.CHAIN }}/target/srtool/release/wbuild/${{ env.CHAIN }}-runtime/${{ env.CHAIN }}_runtime.compact.compressed.wasm'

          echo ::set-output name=wasm::$WASM_PATH
          echo ::set-output name=wasm_compressed::$WASM_COMPRESSED_PATH

          subwasm info $WASM_COMPRESSED_PATH > ${{ env.CHAIN }}-subwam-info.txt
          cat ${{ env.CHAIN }}-subwam-info.txt

          subwasm meta $WASM_PATH
          subwasm --json meta $WASM_PATH > ${{ env.CHAIN }}-metadata.json

          subwasm get wss://karura-rpc-2.aca-api.network/ws --output runtime_mainnet.wasm
          subwasm diff $WASM_PATH runtime_mainnet.wasm | tee ${{ env.CHAIN }}-diff.txt

      - name: Generate note
        id: generate-note
        uses: AcalaNetwork/acala-release-note-action@master
        with:
          scope: ${{ env.SCOPE }}
          chain: ${{ env.CHAIN }}
          subwasm_info: ${{ env.CHAIN }}-subwam-info.txt
          srtool_details: ${{ env.CHAIN }}-srtool-details.txt

      - name: Crate Release Checklist issue
        uses: JasonEtco/create-an-issue@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          filename: ${{ steps.generate-note.outputs.release-note }}

      - name: Archive Artifacts for ${{ env.CHAIN }}
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.CHAIN }}-runtime
          path: |
            ${{ steps.srtool_build.outputs.wasm }}
            ${{ steps.srtool_build.outputs.wasm_compressed }}
            ${{ env.CHAIN }}-srtool-details.txt
            ${{ env.CHAIN }}-metadata.json
            ${{ env.CHAIN }}-subwam-info.txt
            ${{ env.CHAIN }}-diff.txt

      - name: Upload wasm to pinata
        uses: aquiladev/ipfs-action@v0.1.6
        with:
          path: ${{ steps.srtool_build.outputs.wasm_compressed }}
          service: pinata
          pinataKey: ${{ secrets.PINATA_KEY }}
          pinataSecret: ${{ secrets.PINATA_SECRET }}
