name: Srtool build

env:
  SUBWASM_VERSION: 0.15.0
  SRTOOL_TAG: 1.56.1

on:
  workflow_dispatch:
    inputs:
      srtool_tag:
        description: The SRTOOL tag to use
        # keep the same as `env.SRTOOL_TAG`
        default: 1.56.1
        required: false
      ref:
        description: The ref to be used for the repo
        default: master
        required: false
  # schedule:
  #   - cron: "00 03 * * 1" # 3AM weekly on mondays
  # push:
  #   tags:
  #     - "*"

jobs:
  build:
    name: Build ${{ matrix.chain }} ${{ github.event.inputs.ref || github.ref }}
    strategy:
      matrix:
        chain: ["karura"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # repository: AcalaNetwork/Acala
          ref: ${{ github.event.inputs.ref }}
          fetch-depth: 0
          submodules: true

      - name: Srtool build
        id: srtool_build
        uses: chevdor/srtool-actions@v0.3.0
        with:
          chain: ${{ matrix.chain }}
          tag: ${{ github.event.inputs.srtool_tag || env.SRTOOL_TAG }}

      - name: Summary
        run: |
          echo '${{ steps.srtool_build.outputs.json }}' | jq > ${{ matrix.chain }}-srtool-digest.json
          cat ${{ matrix.chain }}-srtool-digest.json
          echo "Runtime location: ${{ steps.srtool_build.outputs.wasm }}"
      # it takes a while to build the runtime, so let's save the artifact as soon as we have it
      - name: Archive Artifacts for ${{ matrix.chain }}
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.chain }}-runtime
          path: |
            ${{ steps.srtool_build.outputs.wasm }}
            ${{ steps.srtool_build.outputs.wasm_compressed }}
            ${{ matrix.chain }}-srtool-digest.json
      # We now get extra information thanks to subwasm,
      - name: Install subwasm ${{ env.SUBWASM_VERSION }}
        run: |
          wget https://github.com/chevdor/subwasm/releases/download/v${{ env.SUBWASM_VERSION }}/subwasm_linux_amd64_v${{ env.SUBWASM_VERSION }}.deb
          sudo dpkg -i subwasm_linux_amd64_v${{ env.SUBWASM_VERSION }}.deb
          subwasm --version
      - name: Show Runtime information
        run: |
          subwasm info ${{ steps.srtool_build.outputs.wasm }}
          subwasm info ${{ steps.srtool_build.outputs.wasm_compressed }}
          subwasm --json info ${{ steps.srtool_build.outputs.wasm }} > ${{ matrix.chain }}-info.json
          subwasm --json info ${{ steps.srtool_build.outputs.wasm_compressed }} > ${{ matrix.chain }}-info_compressed.json
      - name: Extract the metadata
        run: |
          subwasm meta ${{ steps.srtool_build.outputs.wasm }}
          subwasm --json meta ${{ steps.srtool_build.outputs.wasm }} > ${{ matrix.chain }}-metadata.json
      - name: Check the metadata diff
        run: |
          subwasm get wss://karura-rpc-2.aca-api.network/ws --output runtime_mainnet.wasm
          subwasm diff ${{ steps.srtool_build.outputs.wasm }} runtime_mainnet.wasm | tee ${{ matrix.chain }}-diff.txt
      - name: Archive Subwasm results
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.chain }}-runtime
          path: |
            ${{ matrix.chain }}-info.json
            ${{ matrix.chain }}-info_compressed.json
            ${{ matrix.chain }}-metadata.json
            ${{ matrix.chain }}-diff.txt
