# generate by yq eval 'explode(.)' test.yml.src > test.yml
# https://github.com/mikefarah/yq
name: Test
on:
  pull_request:
    branches:
      - master
      - release-**
    paths-ignore:
      - '**/README.md'
  push:
    branches:
      - master
      - release-**
    paths-ignore:
      - '**/README.md'
jobs:
  clean-up-actions:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        # Only cancel non-master branch runs
        if: ${{ github.ref != 'refs/heads/master' }}
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}
  build:
    runs-on: [self-hosted, linux]
    env:
      CARGO_INCREMENTAL: 0
    needs: clean-up-actions
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly-2023-04-15
          components: rustfmt
          target: wasm32-unknown-unknown
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v1.13
      - name: Check format
        run: cargo fmt --all -- --check
      - name: Build
        run: make build-all
      - name: Install clippy
        run: rustup component add clippy
      - name: Run mandala-runtime clippy
        run: cargo clippy --features with-mandala-runtime -- -D warnings
      - name: Run karura-runtime clippy
        run: cargo clippy --features with-karura-runtime -- -D warnings
      - name: Run acala-runtime clippy
        run: cargo clippy --features with-acala-runtime -- -D warnings
      - name: Run build benches
        run: make build-benches
  benchmarking:
    runs-on: [self-hosted, linux]
    env:
      CARGO_INCREMENTAL: 0
    needs: clean-up-actions
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
            !target/debug/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly-2023-04-15
          components: rustfmt
          target: wasm32-unknown-unknown
      - name: Install cargo-nextest
        uses: taiki-e/install-action@nextest
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v1.13
      - name: Run benchmarking tests
        run: make test-benchmarking
  checks-and-tests:
    runs-on: [self-hosted, linux]
    env:
      CARGO_INCREMENTAL: 0
    needs: clean-up-actions
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
            !target/debug/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly-2023-04-15
          components: rustfmt
          target: wasm32-unknown-unknown
      - name: Install cargo-nextest
        uses: taiki-e/install-action@nextest
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v1.13
      - name: Run runtime tests
        run: make test-runtimes
      - name: Run eth tests
        run: make test-eth
      - name: Check benchmarks
        run: make check-benchmarks
      - name: Check try-runtime
        run: make check-try-runtime
      - name: Check runtimes
        run: make check-runtimes
  e2e-tests:
    runs-on: [self-hosted, linux]
    env:
      CARGO_INCREMENTAL: 0
    needs: clean-up-actions
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
            !target/debug/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly-2023-04-15
          components: rustfmt
          target: wasm32-unknown-unknown
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v1.13
      - name: Run e2e tests
        run: make test-e2e
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - name: Run ts tests
        run: |
          npm install -g yarn
          make test-ts
