name: Test

on:
  pull_request:
    branches:
    - master
  push:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Cache cargo registry and index
      uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
        key: ${{ runner.os }}-cargo
    - name: Install toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly-2020-01-18
        components: rustfmt
        target: wasm32-unknown-unknown
        default: true
    - name: Check format
      run: cargo fmt --all -- --check
    - name: Install clippy
      run: rustup component add clippy
    - name: Run clippy
      run: cargo clippy -- -D warnings
    - name: Build
      run: cargo build --locked
    - name: Run tests
      run: cargo test --all
